<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Craft d'items</title>
	<link rel="stylesheet" type="text/css" href="../../../item.css">
</head>
<body>
	<h1>Félicitations !</h1>
	<h3>{{item.nom}} {{#maniement}}[{{maniement}}]{{/maniement}}</h3>
	({{item.rarete}})
	<ul>
		<li>Niveau requis : {{item.niveauRequis}}</li>
		<li>Résistance {{item.res}}/{{item.resTotale}}</li>
	</ul>
	<table>
		<tr>
   			{{#item.caracs}}
    		<th>{{nom}}</th>
    		{{/item.caracs}}
  		</tr>
  		<tr>
  			{{#item.caracs}}
    		<td>{{valeur}}</td>
    		{{/item.caracs}}
  		</tr>
	</table>
	<form action="/app/item/craft/{{idPersonnage}}">
		<input type="submit" value="Craft un autre item">
	</form>
	<a href="/app/personnage/{{idPersonnage}}"><button>Retour au personnage</button></a>
</body>
</html>