<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Index</title>
</head>
<body>
	<h1>Bienvenue sur Legendary Craft</h1>
	{{#nonConnecte}}
		<a href="/app/login"><button>Se Connecter</button></a>
	{{/nonConnecte}}
	{{#estConnecte}}
		<form action="/app/joueur">
			<input type="submit" value="Accéder à mes personnages">
		</form>
		</br>
		<form action="/app/joueurs">
			<input type="submit" value="Voir tous les joueurs">
		</form>
		<br/>
		<a href="/logout"><button>Se Déconnecter</button></a>
	{{/estConnecte}}
</body>
</html>