<!DOCTYPE HTML>
<html>
<head>
	<title>Items</title>
	<link rel="stylesheet" type="text/css" href="../item.css">
</head>
<body>
	<h1>Liste des items </h1>
	<form action="cette meme page">
	Rechercher : <select>{{#itemtype}}<option value={{nom}}>{{nom}}</option>{{/itemtype}}</select>
	<input type="submit" value="Confirmer">
	</form>
	<ul>
		{{#items}}
  			<li>
  				{{nom}}<form action="/app/item?id={{id}}"><input type="submit" value="Détails"></form> <!-- bouton d'équipement ? -->
  			</li>
  		{{/items}}
  	</ul>
</body>
</html>