<!DOCTYPE HTML>
<html>
<head>
	<title>Item</title>
	<link rel="stylesheet" type="text/css" href="../item.css">
</head>
<body>
	<h1>{{item.nom}} [{{maniement}}]</h1>
	({{item.rarete}})
	<ul>
		<li>Niveau requis : {{item.niveauRequis}}</li>
		<li>Résistance {{item.res}}/{{item.resTotale}}</li>
	</ul>
	<table>
		<tr>
   			<th></th>
   			{{#item.caracs}}
    		<th>{{nom}}</th>
    		{{/item.caracs}}
  		</tr>
  		<tr>
  			{{#item.caracs}}
    		<td>{{valeur}}</td>
    		{{/item.caracs}}
  		</tr>  		
	</table>
</body>
</html>