<!DOCTYPE HTML>
<html>
<head>
	<title> joueur {{joueur.pseudo}}</title>
	<link rel="stylesheet" type="text/css" href="../../item.css">
</head>
<body>
	<h1>page du joueur {{joueur.pseudo}} </h1>

	<h2>Liste de vos personnages </h2>
	<table>
		<tr>
   			<th>Nom</th>
    		<th>Niveau</th>
  		</tr>
  		{{#personnages}}
  		
	  		<tr>
	    		<td><a href="/app/personnage/{{id}}">{{nom}}</a></td>
	    		<td>{{niveau}}</td>
	  		</tr>
  		{{/personnages}}
  		<tr>
	    	<td><a href="/app/nouv_personnage/">céer un nouveau personnage</a></td>
	  	</tr>
  		
	</table>
	<a href="/logout" >Déconnexion</a>
    </form>
</body>
</html>