<!DOCTYPE HTML>
<html>
<head>
	<title> joueur {{joueur.pseudo}}</title>
	<link rel="stylesheet" type="text/css" href="../../item.css">
</head>
<body>
	<h1>page du joueur {{joueur.pseudo}} </h1>

	<h2>Liste de vos personnages </h2>
	<table>
		<tr>
   			<th>Nom</th>
    		<th>Niveau</th>
  		</tr>
  		{{#personnages}}
  		
	  		<tr>
	    		<td><a href="/app/personnage/{{id}}">{{nom}}</a></td>
	    		<td>{{niveau}}</td>
	  		</tr>
  		{{/personnages}}
  		<tr>
	    	<td><a href="/app/nouv_personnage/">céer un nouveau personnage</a></td>
	  	</tr>
	 </table>
   	<h4>Notification sur les items qui n'ont plus de résistance</h4>

  	{{#notifs}}
  		
	  	<tr>
	    	<td>
	    		<ul>
	    			<li>nom du personnage : {{personnage.nom}}</li>
	    			<li>nom de l'item : {{nomItem}}</li>
	    		
	    		</ul>
	    	</td>
	  	</tr>
  	{{/notifs}}

	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out"/>
    </form>
</body>
</html>